<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id, id: :score_team_id %>
  </div>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id, id: :score_game_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :score_score %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point, id: :score_point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
