<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @score.team_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @score.game_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Point:</strong>
  <%= @score.point %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
