<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_type %>
    <%= form.text_field :game_type, id: :game_game_type %>
  </div>

  <div class="field">
    <%= form.label :team_a %>
    <%= form.number_field :team_a, id: :game_team_a %>
  </div>

  <div class="field">
    <%= form.label :team_b %>
    <%= form.number_field :team_b, id: :game_team_b %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
