<%#*<div style="display: inline-block;">%>
  <%#*<table style="border:1px solid #ccc; padding:10px;">%>
    <%#*<tr>%>
      <%#*<td td style="border-bottom:1px solid #ccc; padding:5px;">Play Off</td>%>
    <%#*</tr>%>

    <%# @best_all_teams.each do |team| %>
      <%#*<tr>%>
        <%#*<td td style="border-bottom:1px solid #ccc; padding:5px;"><%= team.name%> </td>%>
        <%#*<td style="border-bottom:1px solid #ccc; padding:5px;"><b><%= team.division_games_points_sum('B') %></b>  </td>%> 
      <%#*</tr>%>
<%#*e%>
    <%# end %>
  <%#*</table>%>
<%#*</div>%> 