<p id="notice"><%= notice %></p>

<div>

  <h1>Games in A Division</h1>

  <table style="border:1px solid #ccc; padding:10px;">
    <tr >
      <td></td>
      <% @a_division_teams.each do |team| %>
        <td style="border-bottom:1px solid #ccc; padding:5px;"><%= team.name%> </td>
      <% end %>
      <td style="border-bottom:1px solid #ccc; padding:5px;">Points </td>
    </tr>

    <% @a_division_teams.each do |row_team| %>
      <tr>
        <td style="border-right:1px solid #ccc; padding:5px;"><%= row_team.name%> </td>
        <% @a_division_teams.each do |column_team| %>
          <td style="text-align: center" >
            <%= row_team.division_game_result('A', row_team.id, column_team.id) %>
          </td>
        <% end %>
        <td style="border-left:1px solid #ccc; padding:5px;"><b> <%= row_team.division_games_points('A').sum %></b> </td>
      </tr>
    <% end %>
  </table>  
  <br/>
  <%= button_to "Generate A division Result", {controller: 'games', action: 'generate_result', division: 'A'}  %>

</div>

<div>

  <h1>Games in B Division</h1>

  <table style="border:1px solid #ccc; padding:10px;">
    <tr>
      <td></td>
      <% @b_division_teams.each do |team| %>
        <td td style="border-bottom:1px solid #ccc; padding:5px;"><%= team.name%> </td>
      <% end %>
      <td style="border-bottom:1px solid #ccc; padding:5px;">Points </td>
    </tr>
    <% @b_division_teams.each do |row_team| %>
      <tr>
        <td style="border-right:1px solid #ccc; padding:5px;"><%= row_team.name%> </td>
        <% @b_division_teams.each do |column_team| %>   
          <td style="text-align: center" >
            <%= row_team.division_game_result('B', row_team.id, column_team.id) %>
          </td>
        <% end %>
        <td style="border-left:1px solid #ccc; padding:5px;"><b> <%= row_team.division_games_points('B').sum %> </b></td>
      </tr>

    <% end %>

  </table>
  <br/>
  <%= button_to "Generate B division Result", {controller: 'games', action: 'generate_result', division: 'B'}  %>


  <% if @best_a_division_teams.size > 0 %>
    <h1>Best Teams</h1>

    <div style="display: inline-block; ">
      <table style="border:1px solid #ccc; padding:10px;">
        <tr>
          <td td style="border-bottom:1px solid #ccc; padding:5px;">A Division </td>
        </tr>

        <% @best_a_division_teams.each do |team| %>
          <tr>
            <td td style="border-bottom:1px solid #ccc; padding:5px;"><%= team.name%> </td>
            <td style="border-bottom:1px solid #ccc; padding:5px;"><b><%= team.division_games_points('A').sum %> </b> </td> 
          </tr>

        <% end %>
      </table>
    </div>

    <div style="display: inline-block;">
      <table style="border:1px solid #ccc; padding:10px;">
        <tr>
          <td td style="border-bottom:1px solid #ccc; padding:5px;">B Division </td>
        </tr>

        <% @best_b_division_teams.each do |team| %>
          <tr>
            <td td style="border-bottom:1px solid #ccc; padding:5px;"><%= team.name%> </td>
            <td style="border-bottom:1px solid #ccc; padding:5px;"><b><%= team.division_games_points('B').sum %></b>  </td> 
          </tr>

        <% end %>
      </table>
    </div>    
  <% end %></div>
<br>

<%= button_to "Generate Play Off plays and results", {controller: 'games', action: 'generate_play_off_games_with_results'}  %>

<%= render 'playoff_game' %>