<p id="notice"><%= notice %></p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Team a:</strong>
  <%= @game.team_a %>
</p>

<p>
  <strong>Team b:</strong>
  <%= @game.team_b %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
